<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springboot.entity.Customer">
        <id column="ID" property="id"/>
        <result column="customer_code" property="customerCode"/>
        <result column="Name" property="name"/>
        <result column="CompanyType" property="companyType"/>
        <result column="Address" property="address"/>
        <result column="BusinessLicence" property="businessLicence"/>
        <result column="CompanyUrl" property="companyUrl"/>
        <result column="ManageingDirector" property="manageingDirector"/>
        <result column="AreaID" property="AreaID"/>
        <result column="Email" property="Email"/>
        <result column="MobilePhone" property="MobilePhone"/>
        <result column="Phone" property="Phone"/>
        <result column="AddTime" property="AddTime"/>
        <result column="UpdateTime" property="UpdateTime"/>
        <result column="X_Side" property="xSide"/>
        <result column="Y_Side" property="ySide"/>
        <result column="adduser" property="adduser"/>
        <result column="UserLevel" property="UserLevel"/>
        <result column="KeyWord" property="KeyWord"/>
        <result column="CompanyDescript" property="CompanyDescript"/>
        <result column="WebSite" property="WebSite"/>
        <result column="EmployCount" property="EmployCount"/>
        <result column="CreateTime" property="CreateTime"/>
        <result column="SourceType" property="SourceType"/>
        <result column="AreaCode" property="AreaCode"/>
        <result column="BusinessMode" property="BusinessMode"/>
        <result column="MainProducts" property="MainProducts"/>
        <result column="BusinessIndustry" property="BusinessIndustry"/>
        <result column="JobID" property="JobID"/>
        <result column="RegisteredCapital" property="RegisteredCapital"/>
        <result column="StaffSize" property="StaffSize"/>
        <result column="LegalRepresentative" property="LegalRepresentative"/>
        <result column="OrganizationCode" property="OrganizationCode"/>
        <result column="TaxNumber" property="TaxNumber"/>
        <result column="ProtectOrNot" property="ProtectOrNot"/>
        <result column="FinancingPsnName" property="FinancingPsnName"/>
        <result column="FinancingPsnPost" property="FinancingPsnPost"/>
        <result column="FinancingPhone" property="FinancingPhone"/>
        <result column="ClaimType" property="ClaimType"/>
        <result column="ClaimPsnId" property="ClaimPsnId"/>
        <result column="ClaimPsnDepId" property="ClaimPsnDepId"/>
        <result column="ClaimTime" property="ClaimTime"/>
        <result column="PutStorageCount" property="PutStorageCount"/>
        <result column="PutStorageTime" property="PutStorageTime"/>
        <result column="bank_account" property="bankAccount"/>
        <result column="bank_name" property="bankName"/>
        <result column="year_output_value" property="yearOutputValue"/>
        <result column="hw_type" property="hwType"/>
        <result column="customer_type" property="customerType"/>
        <result column="first_signing_date" property="firstSigningDate"/>
        <result column="first_contact_date" property="firstContactDate"/>
        <result column="handle_user_id" property="handleUserId"/>
        <result column="reminder_date" property="reminderDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, customer_code, Name, CompanyType, Address, BusinessLicence, CompanyUrl, ManageingDirector, AreaID, Email, MobilePhone, Phone, AddTime, UpdateTime, X_Side, Y_Side, adduser, UserLevel, KeyWord, CompanyDescript, WebSite, EmployCount, CreateTime, SourceType, AreaCode, BusinessMode, MainProducts, BusinessIndustry, JobID, RegisteredCapital, StaffSize, LegalRepresentative, OrganizationCode, TaxNumber, ProtectOrNot, FinancingPsnName, FinancingPsnPost, FinancingPhone, ClaimType, ClaimPsnId, ClaimPsnDepId, ClaimTime, PutStorageCount, PutStorageTime, bank_account, bank_name, year_output_value, hw_type, customer_type, first_signing_date, first_contact_date, handle_user_id, reminder_date
    </sql>
    <!--    查询所有没有处理的客户信息-->
    <select id="findCustomerNotHandle" resultType="com.example.springboot.entity.Customer">
        SELECT
            c.ID,c.customer_code,c.name ,c.AreaCode
        FROM customer c
        WHERE c.handle_user_id IS null
          AND
          (
          (!EXISTS(SELECT cyy.id FROM customerhw_year_yield cyy WHERE cyy.customer_id = c.id AND cyy.hw_code IS NOT null))
          OR (!EXISTS(SELECT cu.id FROM customeruser cu WHERE cu.CustomerID = c.id AND cu.RealName IS NOT NULL AND (cu.MobilePhone IS NOT NULL AND TRIM(cu.MobilePhone) <![CDATA[ <> ]]> '')))
          OR (c.Address IS NULL or TRIM(c.Address) = '')
          OR (c.CompanyDescript IS NULL or TRIM(c.CompanyDescript) = '')
          OR (c.CreateTime IS NULL or TRIM(c.CreateTime) = '')
          OR (c.AreaCode IS NULL or TRIM(c.AreaCode) = '')
          OR (c.MainProducts IS NULL or TRIM(c.MainProducts) = '')
          OR (c.BusinessIndustry IS NULL or TRIM(c.BusinessIndustry) = '')
          OR (c.RegisteredCapital IS NULL or TRIM(c.RegisteredCapital) = '')
          OR (c.LegalRepresentative IS NULL or TRIM(c.LegalRepresentative) = '')
          OR (c.StaffSize IS NULL or TRIM(c.StaffSize) = '')
          )
        GROUP BY c.ID


    </select>

</mapper>
