<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.CustomeruserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springboot.entity.Customeruser">
        <id column="ID" property="id" />
        <result column="CustomerID" property="CustomerID" />
        <result column="RealName" property="RealName" />
        <result column="Sex" property="Sex" />
        <result column="Age" property="Age" />
        <result column="nation" property="nation" />
        <result column="Position" property="Position" />
        <result column="MobilePhone" property="MobilePhone" />
        <result column="phone" property="phone" />
        <result column="Email" property="Email" />
        <result column="QQ" property="qq" />
        <result column="IsUser" property="IsUser" />
        <result column="AddTime" property="AddTime" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="Adduser" property="Adduser" />
        <result column="SourcType" property="SourcType" />
        <result column="JobID" property="JobID" />
        <result column="birth_date" property="birthDate" />
        <result column="native_place" property="nativePlace" />
        <result column="department" property="department" />
        <result column="fax_number" property="faxNumber" />
        <result column="wechart" property="wechart" />
        <result column="is_main_contact" property="isMainContact" />
        <result column="taste" property="taste" />
        <result column="married_date" property="marriedDate" />
        <result column="mate_name" property="mateName" />
        <result column="is_married" property="isMarried" />
        <result column="del_flag" property="delFlag" />
        <result column="Usabled" property="Usabled" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CustomerID, RealName, Sex, Age, nation, Position, MobilePhone, phone, Email, QQ, IsUser, AddTime, UpdateTime, Adduser, SourcType, JobID, birth_date, native_place, department, fax_number, wechart, is_main_contact, taste, married_date, mate_name, is_married, del_flag, Usabled, remarks
    </sql>

</mapper>
