<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.ProcessorfactoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springboot.entity.Processorfactory">
        <id column="ID" property="id" />
        <result column="Name" property="Name" />
        <result column="CompanyType" property="CompanyType" />
        <result column="Address" property="Address" />
        <result column="BusinessLicence" property="BusinessLicence" />
        <result column="CompanyUrl" property="CompanyUrl" />
        <result column="ManageingDirector" property="ManageingDirector" />
        <result column="AreaID" property="AreaID" />
        <result column="Email" property="Email" />
        <result column="MobilePhone" property="MobilePhone" />
        <result column="Phone" property="Phone" />
        <result column="AddTime" property="AddTime" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="X_Side" property="xSide" />
        <result column="Y_Side" property="ySide" />
        <result column="SourceType" property="SourceType" />
        <result column="AreaCode" property="AreaCode" />
        <result column="is_enable" property="isEnable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, Name, CompanyType, Address, BusinessLicence, CompanyUrl, ManageingDirector, AreaID, Email, MobilePhone, Phone, AddTime, UpdateTime, X_Side, Y_Side, SourceType, AreaCode, is_enable
    </sql>

</mapper>
